[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/qdarkstylesheet"]
	path = third_party/qdarkstylesheet
	url = https://github.com/ColinDuquesnoy/QDarkStyleSheet
